@import "tailwindcss";

body, html{
  margin: 0;
  padding: 0;
  background-color: #010100;
  overflow: hidden;
  font-family: 'Magic', sans-serif;
}

@font-face {
  font-family: 'Magic';
  src: url('/public/a34f9d1faa5f3315-s.p.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
